.loadPage{
    position: absolute;
    width: 100%;
    height: 1080px;
    background-color: blue;
    opacity: 0.9;
}

.loadPage div.centerLoad{
    position: absolute;
    margin-top: 20%;
    margin-left: 50%;
    width: 200px;
    height: 200px;
    padding-left: 30px;
}

.centerLoad img{
    height: 70%;
    width: 80%;
}

.load{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 9px;
    margin-top: 10px;
    border-radius: 100px;
    background-color: darkblue;
    border: 1px solid black;
}

/* Pagina */
.iconMenu{
    
}