.header{
    background-color: black;
    width: 100%;
    height: 75px;
}

#titlePage{
    position: relative;
    display: inline-block;  
    color: white;
    margin-top: 25px;
    margin-left: 75px;
    
}

/* Menu space */
.spaceMenu{
    position: relative;
    background-color: gray;
    width: 100%;
    height: 410px;
}

.leftMenu{
    position: relative;
    float: left;
    background-color: #191a38;
    width: 25%;
    height: 100%;
    text-align: center;
}

.buttonsLeft{
    position: relative;
    display: inline-block;
    margin-top: 2px;
    height: 100px;
    width: 100%;
}

.buttonsLeft label{
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;  
    font-family: sans-serif;
    padding-top: 10%;
    opacity: 0.8;
    
}

u {
    text-decoration: none;
    border-bottom: 3px solid white;
}

.arrow-left {
    position: relative;
    float: right;
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right:20px solid blue; 
    top: 30%;
}

.rightMenu{
    position: relative;
    float: right;
    cursor: pointer;
    background-color: aquamarine;
    width: 75%;
    height: 100%;
}

#slide { 
width: 100%;
height 100%;
overflow: hidden; 
height: 300px;
box-shadow: 0 0 8px #000;
position: relative;
}

#slide img {
position: absolute;
width: 100%;
height: 100%;
z-index: 1;
display: none;
left: 0;
}

#slide p {
z-index:2;
position: absolute; 
bottom: 0;
left: 0;
width: 100%;
padding: 10px; 
font-family: Arial; 
font-size: 14px; 
background: rgba(0,0,0,0.5);  
color: #fff;
}

/* game Pane */
.gamesBackground{
    position: static;
    width: 100%;
    height: 1000px;
    background-color: lightgray;
    z-index: -2;
}

.gamesPane{
    width: 90%;
    height: 1000px;
    margin-left: 5%;
    -webkit-box-shadow: 2px 2px 20px -1px rgba(171,171,171,1);
    -moz-box-shadow: 2px 2px 20px -1px rgba(171,171,171,1);
    box-shadow: 2px 2px 20px -1px rgba(171,171,171,1);
    background-color: white;
    z-index: 5;
}

#gameLocal{
    position: relative;
    width: 100%;
    height: 900px;
}

.gameSession{
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 152px;
    height: 252px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(153,153,153,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(153,153,153,1);
    box-shadow: 0px 0px 10px 0px rgba(153,153,153,1);
}

.gameIcons{
    width: 152px;
    height: 152px;
    border: 1px solid black;
}

.gameIcons a{
    position: absolute;
    height: 150px;
    width: 150px;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

.gameIcons img{
    width: 150px;
    height: 150px;
}

.gameDescription{
    width: 152px;
    height: 100px;
    border: 1px solid black;
}

.gameDescription a{
    display: block;
    padding-left: 5px;
    font-family: sans-serif;
    font-size: 1.2em;
}

.gameDescription p{
    padding-left: 5px;
    font-family: sans-serif;
    font-size: 1.1em;
}

.holder{
    background-color: gray;
    width: 100%;
    height: 75px;
}